{% extends 'base-2.html' %}
{% block title %}
Login
{% endblock %}
{% load static %}
{% block base %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'plugins/iziToast-master/dist/js/iziToast.min.js' %}" type="text/javascript"></script>

<section class="section">
  <div class="section-body">
    <div class="row">
      <div class="col-md-12">
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>
          iziToast.show({
            theme: 'dark',
            backgroundColor: '#ff6022',
            icon: 'las la-check-circle',
            title: '{{message}}',
            position: 'topRight',
            progressBarColor: '#F4F6F7',
          });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>
          iziToast.show({
            theme: 'dark',
            backgroundColor: '#3abaf4',
            icon: 'las la-exclamation',
            title: '{{message}}',
            position: 'topRight',
            progressBarColor: '#F4F6F7',
          });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>
          iziToast.show({
            theme: 'dark',
            backgroundColor: '#000',
            icon: 'las la-exclamation-circle',
            title: '{{message}}',
            position: 'topRight',
            progressBarColor: '#F4F6F7',
          });
        </script>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4"
        style="margin-top: -8rem !important">
        <div class="login-brand">
          <img src="{% static 'img/logo/lighting.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
        </div>
        <div class="card card-primary">
          <div class="card-header">
            <h4>Login</h4>
          </div>
          <div class="card-body">
            <form method="POST" action="{% url 'Login' %}" class="needs-validation" novalidate>
              {% csrf_token %}
              <div class="form-group">
                <label>ID No./Passport No.</label>
                <input id="id_number" type="text" class="form-control" name="id_number" tabindex="1" required autofocus>
              </div>

              <div class="form-group">
                <div class="d-block">
                  <label for="password" class="control-label">Password</label>
                  <div class="float-right">
                    <a href="#" class="text-small br-text" data-toggle="modal" data-target="#activeIngredients">
                      Forgot Password?
                    </a>
                  </div>
                </div>
                <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                <div class="invalid-feedback">
                  please fill in your password
                </div>
              </div>

              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" name="remember" value="True" class="custom-control-input" tabindex="3"
                    id="remember-me">
                  <label class="custom-control-label" for="remember-me">Remember Me</label>
                </div>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="mt-5 text-muted text-center">
          Don't have an account? <a href="{% url 'UserRegistrationView' %}" class="br-text">Create One</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="activeIngredients" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Ingredients</h5>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'request_password_reset' %}">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-12">
              <div class="mb-2">
                <label class="form-label">Email <span class="text-danger">*</span></label>
                <input type="email" class="form-control" name="reset_email" required>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-info w-100 my-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}