{% extends 'base-2.html' %}
{% block title %}
Reset your account
{% endblock %}
{% load static %}
{% block base %}

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'plugins/iziToast-master/dist/js/iziToast.min.js' %}" type="text/javascript"></script>

<section class="section">
    <div class="section-body">
        <div class="login-brand" style="margin-top: -8rem !important">
            <img src="{% static 'img/logo/lighting.png' %}" alt="logo" width="100" class="shadow-light rounded-circle">
        </div>
        <h2 class="section-title"> Reset your account
        </h2>
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                {% for message in messages %}
                {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <script>
                    iziToast.show({
                        theme: 'dark',
                        backgroundColor: '#ff6022',
                        icon: 'las la-check-circle',
                        title: '{{message}}',
                        position: 'topRight',
                        progressBarColor: '#F4F6F7',
                    });
                </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <script>
                    iziToast.show({
                        theme: 'dark',
                        backgroundColor: '#3abaf4',
                        icon: 'las la-exclamation',
                        title: '{{message}}',
                        position: 'topRight',
                        progressBarColor: '#F4F6F7',
                    });
                </script>
                {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <script>
                    iziToast.show({
                        theme: 'dark',
                        backgroundColor: '#000',
                        icon: 'las la-exclamation-circle',
                        title: '{{message}}',
                        position: 'topRight',
                        progressBarColor: '#F4F6F7',
                    });
                </script>
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% include 'alert.html' %}
                <div class="card-body">
                    <div class="text-center">
                        <img src="{% static 'img/layers.gif' %}" class="img-fluid img-responsive" height="350"
                            width="400" alt="" srcset="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}