{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Sign Up &mdash; VMD</title>

  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/iziToast-master/dist/css/iziToast.min.css' %}">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'img/logo/logo.png' %}" />
</head>

<body class="layout-3">
  <div id="app">
    <div class="main-wrapper container">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="{% url 'NormalLogin' %}" class="navbar-brand sidebar-gone-hide">Login <i class="fas fa-user-circle"
            style="font-size: 1.3rem;"></i></a>
        <a href="#" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
      </nav>

      <nav class="navbar navbar-secondary navbar-expand-lg">
        <div class="container">
          <a href="{% url 'NormalLogin' %}" class="navbar-brand sidebar-gone-hide">
            <img src="{% static 'img/logo/logo.png' %}" height="130" width="130" class="img-fluid img-responsive"
              alt="Logo">
          </a>
        </div>
      </nav>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-body">
            <h2 class="section-title">Account Registration
            </h2>
            <p class="section-lead">
              Enter your details to create account
            </p>
            <div class="row">
              <div class="col-md-12">

                <div class="card-body">
                  <form method="POST" action="{% url 'Register' %}" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="prospNo" value="">
                    <input type="hidden" name="myAction" value="insert">
                    <div class="row">
                      <div class="form-group col-4">
                        <label for="frist_name">LTR Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="lTRName" autofocus required>
                      </div>
                      <div class="form-group col-4">
                        <label for="last_name">LTR Email <span class="text-danger">*</span></label>
                        <input id="" type="email" class="form-control" name="lTRMail" required>
                      </div>
                      <div class="form-group col-4">
                        <label for="last_name">Phone No. (07 XX XX XX XX) <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="phoneNumber" required>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-4">
                        <label for="frist_name">Business Registration No. <span class="text-danger">*</span></label>
                        <input id="" type="text" class="form-control" name="businessRegNo" autofocus required>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Premise Address</label>
                          <input type="text" class="form-control" name="premiseAddress">
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Postal Address</label>
                          <input type="text" class="form-control" name="postalAddress">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group col-4">
                        <label>City<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" name="city" autofocus required>
                      </div>
                      <div class="form-group col-4">
                        <label>Password <span class="text-danger">*</span></label>
                        <input type="password" class="form-control" name="Password" autofocus required>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label>Confirm Password <span class="text-danger">*</span></label>
                          <input type="password" name="Password2" class="form-control">
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">
                        Save

                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
      </section>

    </div>
    {% include 'footer.html' %}
  </div>
  <script src="{% static 'assets/modules/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/modules/popper.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/modules/tooltip.js' %}" type="text/javascript"></script>
  <script src="{% static 'assets/modules/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>

  <!-- Data Tables -->
  <script src="{% static 'plugins/iziToast-master/dist/js/iziToast.min.js' %}" type="text/javascript"></script>

  <script>
    $(document).ready(function () {
      const currentYear = new Date().getFullYear();
      $('#currentYear').empty().append(currentYear)
    })
  </script>
</body>

</html>