{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'plugins/Moment/moment.js' %}"></script>

<section class="section">
    <div class="section-header">
        <h1>My Applications</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="{% url 'Registration' %}">New Application</a></div>
            <div class="breadcrumb-item">My Applications</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">My Applications</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                                    aria-controls="home" aria-selected="true">Open
                                    ({{openCount}})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                                    aria-controls="profile" aria-selected="false">Submitted
                                    ({{submitted|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                            <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                aria-labelledby="home-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped data_table">
                                        <thead>
                                            <tr>
                                                <th>Product No</th>
                                                <th>Product Name</th>
                                                <th>Product Class</th>
                                                <th>Manufacturer Type</th>
                                                <th>Status</th>
                                                <th>Document Date</th>
                                                <th>Document Stage</th>
                                                <th>Amount Payable</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in open %}
                                            <tr>
                                                <td>{{res.ProductNo}}</td>
                                                <td>{{res.Productname}}</td>
                                                <td>{{res.Veterinary_Classes}}</td>
                                                <td>{{res.Types_Of_Manufacturers}}</td>
                                                <td class="text-success">{{res.Status}}</td>
                                                <td>{{res.Document_Date}}</td>
                                                <td>{{res.DocumentStage}}</td>
                                                <td><span class="text-primary"
                                                        style="margin-right: 2px;">{{res.Currency_Code}}</span>{{res.Amount_Payable}}
                                                </td>
                                                <td>
                                                    <a href="{% url 'productDetails' res.ProductNo %}" type="button"
                                                        class="btn btn-success"> View <i class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped data_table">
                                        <thead>
                                            <tr>
                                                <th>Product No</th>
                                                <th>Product Name</th>
                                                <th>Product Class</th>
                                                <th>Status</th>
                                                <th>Document Date</th>
                                                <th>Document Stage</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in submitted %}
                                            <tr>
                                                <td>{{res.ProductNo}}</td>
                                                <td>{{res.Productname}}</td>
                                                <td>{{res.Veterinary_Classes}}</td>
                                                <td class="text-success">{{res.Status}}</td>
                                                <td>{{res.Document_Date}}</td>
                                                <td>{{res.DocumentStage}}</td>
                                                <td>
                                                    <a href="{% url 'productDetails' res.ProductNo %}" type="button"
                                                        class="btn btn-success"> View <i class="bi bi-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}