{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'plugins/Moment/moment.js' %}"></script>

<section class="section">
    <div class="section-header">
        <h1>Wholesale Dealers Veterinary Pharmacy Permit</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">New Application</a></div>
            <div class="breadcrumb-item">My Applications</div>
        </div>
    </div>

    <div class="section-body">
        <h2 class="section-title">My Applications</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab2" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#home2" role="tab"
                                    aria-controls="home" aria-selected="true">New
                                    ({{new_permits|length}})</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#profile2" role="tab"
                                    aria-controls="profile" aria-selected="false">Submitted
                                    ({{submitted|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content tab-bordered" id="myTab3Content">
                            <div class="tab-pane fade show active" id="home2" role="tabpanel"
                                aria-labelledby="home-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped data_table">
                                        <thead>
                                            <tr>
                                                <th>Premise No</th>
                                                <th>Document Date</th>
                                                <th>Premise Name</th>
                                                <th>Amount Payable</th>
                                                <th>Paid</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for permits in new_permits %}
                                            <tr>
                                                <td>{{permits.PremiseNo}}</td>
                                                <td id="Open_DocumentDate{{permits.PremiseNo}}">{{permits.DocumentDate}}
                                                </td>
                                                <td>{{permits.Premise_Name}}</td>
                                                <td>{{permits.Currency}} {{permits.AmountPayable}}</td>
                                                <td>
                                                    {% if permits.Paid %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if permits.Status == "Open" %}
                                                    <div class="badge badge-info">{{permits.Status}}</div>
                                                    {% elif permits.Status == "Processing" %}
                                                    <div class="badge badge-warning">{{permits.Status}}</div>
                                                    {% elif permits.Status == "Approved" %}
                                                    <div class="badge badge-success">{{permits.Status}}</div>
                                                    {% elif permits.Status == "Rejected" %}
                                                    <div class="badge badge-danger">{{permits.Status}}</div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'PermitDetails' permits.PremiseNo %}" type="button"
                                                        class="btn btn-primary"> View <i class="bi bi-eye"></i></a>
                                                </td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#Open_DocumentDate{{permits.PremiseNo}}")
                                                            .empty().append(moment(
                                                                    '{{permits.DocumentDate}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile2" role="tabpanel" aria-labelledby="profile-tab2">
                                <div class="table-responsive">
                                    <table class="table table-striped data_table">
                                        <thead>
                                            <tr>
                                                <th>Premise No</th>
                                                <th>Document Date</th>
                                                <th>Premise Name</th>
                                                <th>Amount Payable</th>
                                                <th>Paid</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for permits in submitted %}
                                            <tr>
                                                <td>{{permits.PremiseNo}}</td>
                                                <td id="Sub_DocumentDate{{permits.PremiseNo}}">{{permits.DocumentDate}}
                                                </td>
                                                <td>{{permits.Premise_Name}}</td>
                                                <td>{{permits.Currency}} {{permits.AmountPayable}}</td>
                                                <td>
                                                    {% if permits.Paid %}
                                                    Yes
                                                    {% else %}
                                                    No
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if permits.Status == "Open" %}
                                                    <div class="badge badge-info">{{permits.Status}}</div>
                                                    {% elif permits.Status == "Processing" %}
                                                    <div class="badge badge-warning">{{permits.Status}}</div>
                                                    {% elif permits.Status == "Approved" %}
                                                    <div class="badge badge-success">{{permits.Status}}</div>
                                                    {% elif permits.Status == "Rejected" %}
                                                    <div class="badge badge-danger">{{permits.Status}}</div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="{% url 'PermitDetails' permits.PremiseNo %}" type="button"
                                                        class="btn btn-primary"> View <i class="bi bi-eye"></i></a>
                                                </td>
                                                <script>
                                                    $(document).ready(function () {
                                                        $("#Sub_DocumentDate{{permits.PremiseNo}}")
                                                            .empty().append(moment(
                                                                    '{{permits.DocumentDate}}', "YYYY-MM-DD")
                                                                .format(
                                                                    'Do MMM YYYY'));
                                                    })
                                                </script>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}