{% extends 'base.html' %}
{% load static %}
{% block base %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'plugins/Moment/moment.js' %}"></script>
<link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

<section class="section">
    <div class="section-header">
        <h1>Wholesale Dealers Veterinary Pharmacy Permit Application Form</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div class="breadcrumb-item">New Applications</div>
        </div>
    </div>
    <div class="section-body" id="main">
        <div class="row bg-white">
            <div class="col-md-12">
                {% include 'alert.html' %}
                <form id="regForm" class="bg-white px-4" method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="premiseNo" id="premiseNo" value="">
                    <input type="hidden" name="myAction" id="myAction" value="insert">

                    <div class="border border-success rounded p-3  my-3">
                        <p class="text-small text-primary">General Details</p>
                        <div class="row my-2">
                            <div class="col-md-8">
                                <label class="form-label">Premise Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="premiseName" id="premiseName">
                                <div id="premiseNameerror" style="color: red; display: none;">required field</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Town <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="town" id="town">
                                <div id="townerror" style="color: red; display: none;">required field</div>
                            </div>

                        </div>
                        <div class="row my-3">
                            <div class="col-md-4">
                                <label class="form-label">Road <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="road" id="road" required>
                                <div id="roaderror" style="color: red; display: none;">required field</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Building <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="building" id="building" required>
                                <div id="buildingerror" style="color: red; display: none;">required field</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Plot No<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="plotNo" id="plotNo">
                                <div id="plotNoerror" style="color: red; display: none;">required field</div>
                            </div>
                        </div>
                    </div>
                    <div class="border border-success rounded p-3 my-3">
                        <p class="text-small text-primary">Supervising Veterinary Surgeon's' Information</p>
                        <div class="row my-3">
                            <div class="col-md-4">
                                <label class="form-label">Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="name" id="name">
                                <div id="nameerror" style="color: red; display: none;">required field</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Professional RegNo <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="professionalRegNo" id="professionalRegNo">
                                <div id="professionalRegNoerror" style="color: red; display: none;">required field</div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Email<span class="text-danger">*</span></label>
                                <input type="email" class="form-control" name="email" id="email">
                                <div id="emailerror" style="color: red; display: none;">required field</div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="form-label">Cell Phone (07 XXXXXXX) <span
                                        class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="cellPhone" id="cellPhone">
                                <div id="cellPhoneerror" style="color: red; display: none;">required field</div>
                                <div id="ten_digit_error" style="color: red; display: none;">Must be 10 digits (07
                                    XXXXXXX)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Alternative Cell Phone (07 XXXXXXX)</label>
                                <input type="number" class="form-control" name="alternative_cellPhone"
                                    id="alternative_cellPhone">
                                <div id="alternative_digit_error" style="color: red; display: none;">Must be 10 digits
                                    (07
                                    XXXXXXX)
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">ID/Passport/Alien ID No <span
                                        class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="iDorPassportOrAlienIDNo"
                                    id="iDorPassportOrAlienIDNo">
                                <div id="iDorPassportOrAlienIDNoerror" style="color: red; display: none;">required field
                                </div>
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-md-4">
                                <label class="form-label">Nationality <span class="text-danger">*</span></label>
                                <select class="form-control" aria-label="Default select example" name="nationality"
                                    id="nationality">
                                    <option selected value="">Choose...</option>
                                    {% for res in country %}
                                    <option value="{{res.Code}}">{{res.Name}}</option>
                                    {% empty %}
                                    <option value="KE">KENYA</option>
                                    {% endfor %}
                                </select>
                                <div id="nationalityerror" style="color: red; display: none;">required field</div>
                            </div>
                        </div>
                    </div>
                    <div class="border border-success rounded p-3 my-3">
                        <p class="text-small text-primary">Applicant's' Information</p>
                        <div class="row my-3 gx-1">
                            <div class="col-md-6">
                                <label class="form-label">Applicant Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" name="applicantName" id="applicantName">
                                <div id="applicantNameerror" style="color: red; display: none;">required field</div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Application Year <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" name="application_year" id="application_year"
                                    min="2024" value="2024">
                                <div id="application_year_error" style="color: red; display: none;">The application year
                                    starts
                                    from 2024
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">First Time Application <span
                                        class="text-danger">*</span></label>
                                <select class="form-control" aria-label="Default select example"
                                    name="firstTimeApplication" id="firstTimeApplication">
                                    <option selected value="0">--select--</option>
                                    <option value="1">Yes</option>
                                    <option value="2">No</option>
                                </select>
                                <div id="firstTimeApplicationerror" style="color: red; display: none;">required field
                                </div>
                            </div>
                        </div>
                        <div class="row my-2" style="display: none;" id="inspectionNoRow">
                            <div class="col-md-12">
                                <label class="form-label">Previous Inspection <span class="text-danger">*</span></label>
                                <select class="form-control" aria-label="Default select example" name="inspectionNo"
                                    id="inspectionNo" disabled>
                                    <option selected value="0" disabled>--select--</option>
                                    {% for inspection in Approved_Inspection %}
                                    <option value="{{inspection.PremiseInpectionNo}}">
                                        {{inspection.CompanyName}}</option>
                                    {% endfor %}
                                </select>
                                <div id="inspectionNoerror" style="color: red; display: none;">required field</div>
                            </div>
                        </div>
                        <div class="row my-2">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <div class="form-group">
                                        <label class="custom-switch mt-2">
                                            <input type="checkbox" value="True" name="iAgree" id="iAgree"
                                                class="custom-switch-input" checked>
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">
                                                I hereby apply for a wholesale dealer permit and
                                                declare that all the information herein is correct
                                                and true.
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="money-spinner mx-auto text-center" id="spinner0" style="display: none;">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif"
                            alt="Loading Gif" style="height: 70px; width: 100px;" class="img-fluid">
                    </div>
                    <button type="submit" class="btn btn-primary my-3 w-100">Save Application</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    const $headerForm = $('#regForm');

    $(document).ready(function () {

        $('#application_year').on('change', function () {
            var inputValue = $(this).val();
            if (inputValue < 2024) {
                $(this).css('border', '1px solid red');
                $(this).val(2024);
                $('#application_year_error').show();
            } else {
                $(this).css('border', '');
                $('#application_year_error').hide();
            }
        });
        $('#cellPhone').on('input', function () {
            let inputValue = $(this).val();
            if (inputValue.length > 10) {
                $(this).css('border', '1px solid red');
                $(this).val(inputValue.slice(0, 10));
                $('#ten_digit_error').show();
            } else {
                $(this).css('border', '');
                $('#ten_digit_error').hide();
            }
        });

        $('#cellPhone').on('blur', function () {
            let inputValue = $(this).val();
            if (inputValue.length < 10) {
                $(this).css('border', '1px solid red');
                $(this).val('');
                iziToast.show({
                    theme: 'dark',
                    icon: 'las la-exclamation',
                    title: "The Cell Phone number cannot be less than 10 digits",
                    position: 'topRight',
                    backgroundColor: '#E74C3C',
                    progressBarColor: '#FFFFFF',
                });
                $('#cellPhoneerror').show();
            } else {
                $(this).css('border', '');
                $('#cellPhoneerror').hide();
            }
        });

        $('#alternative_cellPhone').on('input', function () {
            let inputValue = $(this).val();
            if (inputValue.length > 10) {
                $(this).css('border', '1px solid red');
                $(this).val(inputValue.slice(0, 10));
                $('#alternative_digit_error').show();
            } else {
                $(this).css('border', '');
                $('#alternative_digit_error').hide();
            }
        });

        $('#alternative_cellPhone').on('blur', function () {
            let inputValue = $(this).val();
            if (inputValue.length < 10) {
                $(this).css('border', '1px solid blue');
                $(this).val('');
            } else {
                $(this).css('border', '');
            }
        });

        $('#firstTimeApplication').on('change', function () {
            if (this.value == '2') {
                $('#inspectionNoRow').show(700);
                $('#inspectionNo').prop('disabled', false);
            } else {
                $('#inspectionNoRow').hide(300);
                $('#inspectionNo').prop('disabled', true);
            }
        });
        $headerForm.on('submit', (e) => {
            e.preventDefault();
            let nationality = document.getElementById("nationality")
            nationality.style.border = "1px solid #28a745"
            let name = document.getElementById("name")
            name.style.border = "1px solid #28a745"
            let iDorPassportOrAlienIDNo = document.getElementById("iDorPassportOrAlienIDNo")
            iDorPassportOrAlienIDNo.style.border = "1px solid #28a745"
            let premiseName = document.getElementById("premiseName")
            premiseName.style.border = "1px solid #28a745"
            let town = document.getElementById("town")
            town.style.border = "1px solid #28a745"
            let road = document.getElementById("road")
            road.style.border = "1px solid #28a745"
            let building = document.getElementById("building")
            building.style.border = "1px solid #28a745"
            let plotNo = document.getElementById("plotNo")
            plotNo.style.border = "1px solid #28a745"
            let firstTimeApplication = document.getElementById("firstTimeApplication")
            firstTimeApplication.style.border = "1px solid #28a745"
            let email = document.getElementById("email")
            email.style.border = "1px solid #28a745"
            let cellPhone = document.getElementById("cellPhone")
            cellPhone.style.border = "1px solid #28a745"
            let professionalRegNo = document.getElementById("professionalRegNo")
            professionalRegNo.style.border = "1px solid #28a745"
            let applicantName = document.getElementById("applicantName")
            applicantName.style.border = "1px solid #28a745"

            let nationalityerror = document.getElementById("nationalityerror")
            nationalityerror.style.display = "none"
            let nameerror = document.getElementById("nameerror")
            nameerror.style.display = "none"
            let iDorPassportOrAlienIDNoerror = document.getElementById("iDorPassportOrAlienIDNoerror")
            iDorPassportOrAlienIDNoerror.style.display = "none"
            let premiseNameerror = document.getElementById("premiseNameerror")
            premiseNameerror.style.display = "none"
            let townerror = document.getElementById("townerror")
            townerror.style.display = "none"
            let roaderror = document.getElementById("roaderror")
            roaderror.style.display = "none"
            let buildingerror = document.getElementById("buildingerror")
            buildingerror.style.display = "none"
            let plotNoerror = document.getElementById("plotNoerror")
            plotNoerror.style.display = "none"
            let firstTimeApplicationerror = document.getElementById("firstTimeApplicationerror")
            firstTimeApplicationerror.style.display = "none"
            let emailerror = document.getElementById("emailerror")
            emailerror.style.display = "none"
            let cellPhoneerror = document.getElementById("cellPhoneerror")
            cellPhoneerror.style.display = "none"
            let professionalRegNoerror = document.getElementById("professionalRegNoerror")
            professionalRegNoerror.style.display = "none"
            let applicantNameerror = document.getElementById("applicantNameerror")
            applicantNameerror.style.display = "none"

            if ($('#nationality').val() === '') {
                nationality.style.border = "1px solid red"
                nationalityerror.style.display = "block"
                return false
            } else if ($('#name').val() === '') {
                name.style.border = "1px solid red"
                nameerror.style.display = "block"
                return false
            } else if ($('#iDorPassportOrAlienIDNo').val() === '') {
                iDorPassportOrAlienIDNo.style.border = "1px solid red"
                iDorPassportOrAlienIDNoerror.style.display = "block"
                return false
            } else if ($('#premiseName').val() === '') {
                premiseName.style.border = "1px solid red"
                premiseNameerror.style.display = "block"
                return false
            } else if ($('#town').val() === '') {
                town.style.border = "1px solid red"
                townerror.style.display = "block"
                return false
            } else if ($('#road').val() === '') {
                road.style.border = "1px solid red"
                roaderror.style.display = "block"
                return false
            } else if ($('#building').val() === '') {
                building.style.border = "1px solid red"
                buildingerror.style.display = "block"
                return false
            } else if ($('#plotNo').val() === '') {
                plotNo.style.border = "1px solid red"
                plotNoerror.style.display = "block"
                return false
            } else if ($('#firstTimeApplication').val() === '0') {
                firstTimeApplication.style.border = "1px solid red"
                firstTimeApplicationerror.style.display = "block"
                return false
            } else if ($('#email').val() === '') {
                email.style.border = "1px solid red"
                emailerror.style.display = "block"
                return false
            } else if ($('#cellPhone').val() === '') {
                cellPhone.style.border = "1px solid red"
                cellPhoneerror.style.display = "block"
                return false
            } else if ($('#professionalRegNo').val() === '') {
                professionalRegNo.style.border = "1px solid red"
                professionalRegNoerror.style.display = "block"
                return false
            } else if ($('#applicantName').val() === '') {
                applicantName.style.border = "1px solid red"
                applicantNameerror.style.display = "block"
                return false
            }
            $('#spinner0').show();
            $.ajax({
                type: 'POST',
                url: '/selfservice/permit/',
                data: {
                    premiseNo: $("#premiseNo").val(),
                    premiseName: $('#premiseName').val(),
                    town: $('#town').val(),
                    road: $('#road').val(),
                    building: $('#building').val(),
                    inspectionNo: $('#inspectionNo').val(),
                    applicantName: $('#applicantName').val(),
                    professionalRegNo: $('#professionalRegNo').val(),
                    email: $('#email').val(),
                    cellPhone: $('#cellPhone').val(),
                    alternative_cellPhone: $('#alternative_cellPhone').val(),
                    iDorPassportOrAlienIDNo: $('#iDorPassportOrAlienIDNo').val(),
                    nationality: $('#nationality').val(),
                    application_year: $('#application_year').val(),
                    name: $('#name').val(),
                    plotNo: $('#plotNo').val(),
                    firstTimeApplication: $('#firstTimeApplication').val(),
                    iAgree: $('#iAgree').val(),
                    myAction: $("#myAction").val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (response) {
                    if (response['response']) {
                        window.location.href = "/selfservice/permit/" + response[
                            'response'] + "/";
                        iziToast.show({
                            theme: 'dark',
                            backgroundColor: '#0974bd',
                            icon: 'las la-check-circle',
                            title: response['response'] +
                                " " +
                                "created successfully",
                            position: 'topRight',
                            progressBarColor: '#F4F6F7',
                        });

                        $('#premiseName, #nationality, #name, #application_year').val('');
                        $('#town,#iDorPassportOrAlienIDNo,#firstTimeApplication').val('');
                        $('#road,#cellPhone, #building, #alternative_cellPhone').val('');
                        $('#applicantName,#professionalRegNo, #email, #plotNo').val('');
                    } else if (response['error']) {
                        iziToast.show({
                            theme: 'dark',
                            icon: 'las la-exclamation',
                            title: 'Error',
                            message: response['error'],
                            position: 'topRight',
                            progressBarColor: '#ff0800',
                        });
                    }
                    $('#spinner0').hide();
                },
                error: function (error) {
                    iziToast.show({
                        theme: 'dark',
                        icon: 'las la-exclamation',
                        title: 'Error',
                        message: error,
                        position: 'topRight',
                        progressBarColor: '#ff0800',
                    });
                    console.log(error)
                    $('#spinner0').hide();
                }
            });
        });
    })
</script>
{% endblock %}